@{
    ViewData["Title"] = "References";
}

<h1>@ViewData["Title"]</h1>

<p>This page lists the references used for the concepts and code structure in the GLMS application.</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Concept Used</th>
            <th>Harvard Reference</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>ASP.NET Core MVC architecture</td>
            <td>
                Microsoft. (2024) <i>Overview of ASP.NET Core MVC</i>. Available at:
                <a href="https://learn.microsoft.com/en-us/aspnet/core/mvc/overview?view=aspnetcore-10.0" target="_blank">
                    https://learn.microsoft.com/en-us/aspnet/core/mvc/overview?view=aspnetcore-10.0
                </a>
                (Accessed: 16 April 2026).
            </td>
        </tr>

        <tr>
            <td>2</td>
            <td>Getting started with ASP.NET Core MVC</td>
            <td>
                Microsoft. (2026) <i>Get started with ASP.NET Core MVC</i>. Available at:
                <a href="https://learn.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/start-mvc?view=aspnetcore-10.0" target="_blank">
                    https://learn.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/start-mvc?view=aspnetcore-10.0
                </a>
                (Accessed: 16 April 2026).
            </td>
        </tr>

        <tr>
            <td>3</td>
            <td>Entity Framework Core basics</td>
            <td>
                Microsoft. (2024) <i>Overview of Entity Framework Core</i>. Available at:
                <a href="https://learn.microsoft.com/en-us/ef/core/" target="_blank">
                    https://learn.microsoft.com/en-us/ef/core/
                </a>
                (Accessed: 16 April 2026).
            </td>
        </tr>

        <tr>
            <td>4</td>
            <td>EF Core with SQL Server</td>
            <td>
                Microsoft. (2026) <i>Microsoft SQL Server EF Core Database Provider</i>. Available at:
                <a href="https://learn.microsoft.com/en-us/ef/core/providers/sql-server/" target="_blank">
                    https://learn.microsoft.com/en-us/ef/core/providers/sql-server/
                </a>
                (Accessed: 16 April 2026).
            </td>
        </tr>

        <tr>
            <td>5</td>
            <td>Model binding in ASP.NET Core</td>
            <td>
                Microsoft. (2025) <i>Model Binding in ASP.NET Core</i>. Available at:
                <a href="https://learn.microsoft.com/en-us/aspnet/core/mvc/models/model-binding?view=aspnetcore-10.0" target="_blank">
                    https://learn.microsoft.com/en-us/aspnet/core/mvc/models/model-binding?view=aspnetcore-10.0
                </a>
                (Accessed: 16 April 2026).
            </td>
        </tr>

        <tr>
            <td>6</td>
            <td>Model validation using data annotations</td>
            <td>
                Microsoft. (2025) <i>Model validation in ASP.NET Core MVC and Razor Pages</i>. Available at:
                <a href="https://learn.microsoft.com/en-us/aspnet/core/mvc/models/validation?view=aspnetcore-10.0" target="_blank">
                    https://learn.microsoft.com/en-us/aspnet/core/mvc/models/validation?view=aspnetcore-10.0
                </a>
                (Accessed: 16 April 2026).
            </td>
        </tr>

        <tr>
            <td>7</td>
            <td>Views and Razor syntax</td>
            <td>
                Microsoft. (2024) <i>Views in ASP.NET Core MVC</i>. Available at:
                <a href="https://learn.microsoft.com/en-us/aspnet/core/mvc/views/overview?view=aspnetcore-10.0" target="_blank">
                    https://learn.microsoft.com/en-us/aspnet/core/mvc/views/overview?view=aspnetcore-10.0
                </a>
                (Accessed: 16 April 2026).
            </td>
        </tr>

        <tr>
            <td>8</td>
            <td>File upload handling</td>
            <td>
                Microsoft. (2025) <i>Upload files in ASP.NET Core</i>. Available at:
                <a href="https://learn.microsoft.com/en-us/aspnet/core/mvc/models/file-uploads?view=aspnetcore-10.0" target="_blank">
                    https://learn.microsoft.com/en-us/aspnet/core/mvc/models/file-uploads?view=aspnetcore-10.0
                </a>
                (Accessed: 16 April 2026).
            </td>
        </tr>

        <tr>
            <td>9</td>
            <td>Validation tutorial example</td>
            <td>
                Microsoft. (2026) <i>Part 9, add validation to an ASP.NET Core MVC app</i>. Available at:
                <a href="https://learn.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/validation?view=aspnetcore-10.0" target="_blank">
                    https://learn.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/validation?view=aspnetcore-10.0
                </a>
                (Accessed: 16 April 2026).
            </td>
        </tr>
    </tbody>
</table>